# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# OS & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporary files
*.tmp
*.log
